[submodule "Vulkan-Tutorial"]
	path = Vulkan-Tutorial
	url = https://github.com/KhronosGroup/Vulkan-Tutorial
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "tinyobjloader"]
	path = tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "glaze"]
	path = glaze
	url = https://github.com/stephenberry/glaze.git
